{% extends './base.html' %}

{% block title %}Amazon{% endblock %}

{% block content %}
{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div class="col-12 cart_empty">
                <h1>Your Shopping Cart is empty.</h1>
                <p>Your Shopping Cart live ive it purpose — fill it with books, CDs, DVDs, toys, electronics, and more. If you already have an account, <a href="">Sign In</a> to see your Cart.
                <br>
                Continue shopping on the <a href="">Amazon.com homepage</a>, learn about <a href="">today's deals</a>, or visit your <a href="">Wish List</a>.
                <br><br>
                The price and availability of items at Amazon.com are subject to change. The Cart is a temporary place to store a list of your items and reflects each item's most recent price. Shopping Cart <a href="">Learn more</a> 
                <br>
                Do you have a gift card or promotional code? We'll ask you to enter your claim code when it's time to pay.
                </p>
            </div>
            <div class="col-12"></div>
        </div>
        <div class="col-3 costumer_suggest_cart">
            <div class='also_bought'>
                <h5>Customers Who Bought Items in Your Recent History Also Bought</h5>
                <div class="container per_barang">
                    <div class="row">
                        <div class="col-4 gambar_barangcart">
                            <img src="../../static/img/SLIDER/cobacart.jpeg">
                        </div>
                        <div class="col-8 detail_gambar_barangcart">
                            <div> <a href="">Akoda USB C to USB</a></div>
                            <div> <img src="../../static/img/SLIDER/starvote.png" alt="Coba cart"> 76</div>
                            <div> <p>$13.99</p></div>
                            <div class="see_all_option"><a href="">See all buying options</a></div>
                        </div>
                    </div>
                </div>
                <div class="container per_barang">
                    <div class="row">
                        <div class="col-4 gambar_barangcart">
                            <img src="../../static/img/SLIDER/cobacart.jpeg">
                        </div>
                        <div class="col-8 detail_gambar_barangcart">
                            <div> <a href="">Akoda USB C to USB</a></div>
                            <div> <img src="../../static/img/SLIDER/starvote.png" alt="Coba cart"> 5</div>
                            <div> <p>$13.99</p></div>
                            <div class="see_all_option"><a href="">See all buying options</a></div>
                        </div>
                    </div>
                </div>
                <div class="container per_barang">
                    <div class="row">
                        <div class="col-4 gambar_barangcart">
                            <img src="../../static/img/SLIDER/cobacart.jpeg">
                        </div>
                        <div class="col-8 detail_gambar_barangcart">
                            <div> <a href="">Akoda USB C to USB</a></div>
                            <div> <img src="../../static/img/SLIDER/starvote.png" alt="Coba cart"> 4</div>
                            <div> <p>$13.99</p></div>
                            <div class="see_all_option"><a href="">See all buying options</a></div>
                        </div>
                    </div>
                </div>
                <div class="container per_barang">
                    <div class="row">
                        <div class="col-4 gambar_barangcart">
                            <img src="../../static/img/SLIDER/cobacart.jpeg">
                        </div>
                        <div class="col-8 detail_gambar_barangcart">
                            <div> <a href="">Akoda USB C to USB</a></div>
                            <div> <img src="../../static/img/SLIDER/starvote.png" alt="Coba cart"> 57</div>
                            <div> <p>$13.99</p></div>
                            <div class="see_all_option"><a href="">See all buying options</a></div>
                        </div>
                    </div>
                </div>
            </div>        
            <div class=""></div>
        </div>
    </div>
</div>
{% endblock %}