{% extends './base.html' %}

{% block title %}Amazon{% endblock %}

{% block content %}
{% load static %}

    <div class="container-fluid top-body">
        <div class="row">
            <div class="col-md-5">
                <img class="img-product" src="../../static/{{product.photo}}"> 
            </div>
            <div class="col-md-4">
                <p class="product-name">{{product.name}}</p>
                <p class="product-seller">by {{seller.name}}</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                <p class="product-price">Price: Rp{{product.price}}</p>
                <p class="product-color">Color: Black</p>
                <p class="product-descript">
                    {% autoescape off %}
                    {{product.details}}
                    {% endautoescape %}
                </p>
            </div>
            <div class="col-md-2 border-utama">
                <p class="price-pro">Rp{{product.price}}</p>
                <p></p>
                <p class="address-user">This item ships to Address. Get it by DAY, DATE - DAY, DATE Choose this date at checkout.</p>
                <p></p>
                <p class="stock-product">Stock: {{product.stock}}</p>
                
                <div class="dropdown">
                    <button class="btn btn-secondary" type="button" data-toggle="dropdown">Quantity
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </div>
                
                <div type="button" class="add-to btn-warning" >
                    Add to Chart
                </div>
                <div type="button" class="buy-now btn-warning" >
                    Buy Now
                </div>
                <div type="button" class="buy-now btn-warning" >
                    Add to list
                </div>
            </div>
            <div class="col-md-1">

            </div>
        </div>
    </div>
    
{% endblock %}