<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sign In</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    </head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 amazo-lo">    
                <img class="amazon-logo1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/1000px-Amazon_logo.svg.png" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <form action="{% url 'store:signedin' %}" method="POST" style="border:1px solid #ccc">
                {% csrf_token %}
                <div class="container">
                    <h1 class="create">Sign-In</h1>
                    <p></p>

                    <label for="email"><b>Email (phone for mobile account)</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>

                    <label for="password"><b>Password</b></label>
                    <input type="text" placeholder="Enter Password" name="password" required>
                     
                    <div class="clearfix">
                        <button type="submit" class="signupbtn" style="text-decoration: none;">Log in</button>
                    </div>
                    
                    <p class="agreement">By continuing, you agree to Amazon's <a href="#" style="color:dodgerblue">Conditions of Use and Privacy Notice.</a>.</p>
                    
                </div>

                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    <divc class="container">
        <div class="row">
            <div class="col-md-12 newto" >
                New to Amazon?
            </div>
        </divc>
    </div>
    <divc class="container old">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div type="button" class="col-md-4 youra" >
                <a href="{% url 'store:register' %}">
                Create your Amazon account
            </a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-2 fo-01">
                        Conditions of Use 
                </div>
                <div class="col-md-2 fo-02">
                        Privacy Notice 
                </div>
                <div class="col-md-2 fo-03">
                        Help 
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 fo-04">
                        © 1996-2019, Amazon.com, Inc. or its affiliates
                </div>
            </div>
        </div>
    </footer>
</body>
</html>