<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="signamazon.css">
    </head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 amazo-lo">    
                <img class="amazon-logo1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/1000px-Amazon_logo.svg.png" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <form action="/action_page.php" style="border:1px solid #ccc">

                <div class="container">
                    <h1 class="create">Creating Account</h1>
                    <p></p>
                    
                    <label for="name"><b>Your Name</b></label>
                    <input type="text" placeholder="Enter Your Name" name="name" required>

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>
                
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                    <p class="paschar">Passwords must be at least 6 characters.</p>
                
                    <label for="psw-repeat"><b>Re-enter Password</b></label>
                    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
                    
                    <label class="remember">
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                    </label>

                    <div class="clearfix">
                        <button type="submit" class="signupbtn">Create your Amazon account</button>
                    </div>
                    
                    <p class="agreement">By creating an account, you agree to Amazon's <a href="#" style="color:dodgerblue">Conditions of Use and Privacy Notice</a>.</p>
                    
                    <p class="already">Already have an account? <a href="#" style="color:dodgerblue">Sign-In</a>.</p>
                    
                </div>

                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-2 fo-01">
                        Conditions of Use 
                </div>
                <div class="col-md-2 fo-02">
                        Privacy Notice 
                </div>
                <div class="col-md-2 fo-03">
                        Help 
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 fo-04">
                        © 1996-2019, Amazon.com, Inc. or its affiliates
                </div>
            </div>
        </div>
    </footer>
</body>
</html>