.product .carousel-inner .active,
.product .carousel-inner .active + .carousel-item,
.product .carousel-inner .active + .carousel-item + .carousel-item,
.product .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item,
.product .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    display: block;
}

.product .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.product .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
.product .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
.product .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item,
.product .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
}

.product .carousel-inner .carousel-item-next,
.product .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
}

.product .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;  
    top: 0;
    right: -16.66666667%;
    z-index: 0;
    display: block;
    visibility: visible;
}

/* left or forward direction */
.product .active.carousel-item-left + .carousel-item-next.carousel-item-left,
.product .carousel-item-next.carousel-item-left + .carousel-item,
.product .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
.product .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
.product .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
}

/* farthest right hidden item must be abso position for animations */
.product .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
}

/* right or prev direction */
.product .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
.product .carousel-item-prev.carousel-item-right + .carousel-item,
.product .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
.product .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
.product .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {    
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
}

/* for product 2 */
.product2 .carousel-inner .active,
.product2 .carousel-inner .active + .carousel-item,
.product2 .carousel-inner .active + .carousel-item + .carousel-item,
.product2 .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item,
.product2 .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product2 .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    display: block;
}

.product2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.product2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
.product2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
.product2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item,
.product2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
}

.product2 .carousel-inner .carousel-item-next,
.product2 .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
}

.product2 .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;  
    top: 0;
    right: -16.66666667%;
    z-index: 0;
    display: block;
    visibility: visible;
}

/* left or forward direction */
.product2 .active.carousel-item-left + .carousel-item-next.carousel-item-left,
.product2 .carousel-item-next.carousel-item-left + .carousel-item,
.product2 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
.product2 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
.product2 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product2 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product2 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
}

/* farthest right hidden item must be abso position for animations */
.product2 .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
}

/* right or prev direction */
.product2 .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
.product2 .carousel-item-prev.carousel-item-right + .carousel-item,
.product2 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
.product2 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
.product2 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product2 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product2 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {    
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
}

/* for product 3 */
.product3 .carousel-inner .active,
.product3 .carousel-inner .active + .carousel-item,
.product3 .carousel-inner .active + .carousel-item + .carousel-item,
.product3 .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item,
.product3 .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product3 .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    display: block;
}

.product3 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.product3 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
.product3 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
.product3 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item,
.product3 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product3 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
}

.product3 .carousel-inner .carousel-item-next,
.product3 .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
}

.product3 .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;  
    top: 0;
    right: -16.66666667%;
    z-index: 0;
    display: block;
    visibility: visible;
}

/* left or forward direction */
.product3 .active.carousel-item-left + .carousel-item-next.carousel-item-left,
.product3 .carousel-item-next.carousel-item-left + .carousel-item,
.product3 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
.product3 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
.product3 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product3 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product3 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
}

/* farthest right hidden item must be abso position for animations */
.product3 .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
}

/* right or prev direction */
.product3 .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
.product3 .carousel-item-prev.carousel-item-right + .carousel-item,
.product3 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
.product3 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
.product3 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product3 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product3 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {    
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
}

/* for product 4 */
.product4 .carousel-inner .active,
.product4 .carousel-inner .active + .carousel-item,
.product4 .carousel-inner .active + .carousel-item + .carousel-item,
.product4 .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item,
.product4 .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product4 .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    display: block;
}

.product4 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.product4 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
.product4 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
.product4 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item,
.product4 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product4 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
}

.product4 .carousel-inner .carousel-item-next,
.product4 .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
}

.product4 .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;  
    top: 0;
    right: -16.66666667%;
    z-index: 0;
    display: block;
    visibility: visible;
}

/* left or forward direction */
.product4 .active.carousel-item-left + .carousel-item-next.carousel-item-left,
.product4 .carousel-item-next.carousel-item-left + .carousel-item,
.product4 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
.product4 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
.product4 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product4 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product4 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
}

/* farthest right hidden item must be abso position for animations */
.product4 .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
}

/* right or prev direction */
.product4 .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
.product4 .carousel-item-prev.carousel-item-right + .carousel-item,
.product4 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
.product4 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
.product4 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product4 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
.product4 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {    
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
}
