<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% ststic 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    <div>
        <h1></h1>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row size-bottom3">
                <a href=""> Back to top </a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row size-bottom2">
                <!-- <div class="col-md-">
                    
                </div> -->
                <div class="col-md-2 bottom_link">   
                        <h5>Get to Know Us</h5> 
                    <p><a href="">Careers</a></p> 
                    <p><a href="">Blog</a></p> 
                    <p><a href="">About Amazon</a> </p>
                    <p><a href="">Investor Relations</a> </p>
                    <p><a href="">Amazon Devices</a> </p>
                    <p><a href="">Amazon Tours </a> </p>
                </div>
                <div class="col-md-2 bottom_link">
                        <h5>Make Money with Us</h5>
                    <p><a href="">Sell on Amazon</a></p> 
                    <p><a href="">Sell Your Services on Amazon</a></p>
                    <p><a href="">Sell on Amazon Business</a></p> 
                    <p><a href="">Sell Your Apps on Amazon</a></p> 
                    <p><a href="">Become an Affiliate</a></p> 
                    <p><a href="">Advertise Your Products</a></p>
                    <p><a href="">Self-Publish with Us</a></p> 
                </div>
                <div class="col-md-3 bottom_link khusus">
                        <h5>Amazon Payment Products</h5>
                    <p><a href="">Amazon Business Card</a></p> 
                    <p><a href="">Shop with Points</a></p> 
                    <p><a href="">Reload Your Balance</a></p> 
                    <p><a href="">Amazon Currency Converter</a></p>
                </div>
                <div class="col-md-3 bottom_link khusus1">
                        <h5>Let Us Help You</h5>
                    <p><a href="">Your Account</a></p> 
                    <p><a href="">Your Orders</a></p> 
                    <p><a href="">Shipping Rates & Policies</a></p> 
                    <p><a href="">Returns & Replacements</a></p> 
                    <p><a href="">Manage Your Content and Devices</a></p> 
                    <p><a href="">Amazon Assistant</a></p> 
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row size-bottom">
                <div class="col-md-2">
                </div>
                <div class="col-md-2">    
                    <img class="amazon-logo" src="http://pngtransparent.com/images/amazon-logo-png-768x293_abf78dd4.png" >
                </div>
                <div class="col-md-1 bahasa dropdown">
                    <div class="col-md-1 block">
                        <img class="globe" src="https://i0.wp.com/upload.wikimedia.org/wikipedia/commons/thumb/0/05/Indonesia_%28orthographic_projection%29.svg/250px-Indonesia_%28orthographic_projection%29.svg.png" >
                    </div>
                    <div class="col-md-7 block dropbtn">
                        English
                    </div>
                            <div class="dropdown-content">
                            Change Language
                            <p> </p>
                            <input type="radio" name="language" value="english">English EN<br>
                            <input type="radio" name="language" value="deutsch">Deutsch DE<br>
                            <input type="radio" name="language" value="espanol">Espanol ES<br>
                            <p></p>
                            Change Currency 
                            <p></p>
                            <input type="radio" name="currency" value="">Dollar SGP<br>
                            <input type="radio" name="currency" value="deutsch">Yen JPN<br>
                            <input type="radio" name="currency" value="espanol">Rupiah INA<br>
                            </div>
                        </div>

                <div class="col-md-2 uang">
                    <div class="col-md-1 money block">
                        $
                    </div>
                    <div class="col-md-10 block">
                        USD - U.S. Dollar
                    </div>
                </div>
                <div class="col-md-2 negara">
                    <div class="col-md-1 block">
                        <img class="flag" src="https://pngimage.net/wp-content/uploads/2018/05/bendera-inggris-png-4.png" >
                    </div>
                    <div class="col-md-9 block">
                        United States
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>



        <div class="container-fluid">
            <div class="row bottom-6 bottom-add">
                <div class="col-md-2 foot-1">
                        <a href="">
                    <p class="footname">
                            Amazon Music
                            
                    </p>
                    <p class="footcaption">
                            Stream millions
                            of songs
                    </p>
                        </a>
                </div>
                
                <div class="col-md-2 foot-2">
                        <a href="">
                    <p class="footname">
                            Amazon Advertising
                            
                    </p>
                    <p class="footcaption">
                            Find, attract, and
                            engage customers
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-3">
                        <a href="">
                    <p class="footname">
                            Amazon Drive
                            
                    </p>
                    <p class="footcaption">
                            Cloud storage
                            from Amazon
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-4">
                        <a href="">
                    <p class="footname">
                            6pm
                            
                    </p>
                    <p class="footcaption">
                            Score deals
                            on fashion brands
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-5">
                        <a href="">
                    <p class="footname">
                            AbeBooks
                            
                    </p>
                    <p class="footcaption">
                            Books, art
                            & collectibles
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-6">
                        <a href="">
                    <p class="footname">
                        	ACX

                    </p>
                    <p class="footcaption">
                            Audiobook Publishing
                            Made Easy
                    </p>
                </a>
                </div>
                <div class="col-md-3">

                </div>
            </div>






            <div class="row bottom-5">
                <div class="col-md-2 foot-1">
                        <a href="">
                    <p class="footname">
                        Alexa

                    </p>
                    <p class="footcaption">
                            Actionable Analytics
                            for the Web
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-2">
                        <a href="">
                    <p class="footname">
                            Sell on Amazon
                            
                    </p>
                    <p class="footcaption">
                            Start a Selling Account
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-3">
                        <a href="">
                    <p class="footname">
                            Amazon Business
                            
                    </p>
                    <p class="footcaption">
                            Everything For
                            Your Business
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-4">
                        <a href="">
                    <p class="footname">
                            AmazonGlobal
                            
                    </p>
                    <p class="footcaption">
                            Ship Orders
                            Internationally
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-5">
                        <a href="">
                    <p class="footname">
                            Home Services
                            
                    </p>
                    <p class="footcaption">
                            Handpicked Pros
                            Happiness Guarantee
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-6">
                        <a href="">
                    <p class="footname">
                            Amazon Ignite
                            
                    </p>
                    <p class="footcaption">
                            Sell your original
                            Digital Educational
                            Resources
                    </p>
                </a>
                </div>
                <div class="col-md-3">

                </div>
            </div>






            <div class="row bottom-4">
                <div class="col-md-2 foot-1">
                        <a href="">
                    <p class="footname">
                        Amazon Rapids

                    </p>
                    <p class="footcaption">
                            Fun stories for
                            kids on the go
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-2">
                        <a href="">
                    <p class="footname">
                            Amazon Web Services
                            
                    </p>
                    <p class="footcaption">
                            Scalable Cloud
                            Computing Services
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-3">
                        <a href="">
                    <p class="footname">
                            Audible
                            
                    </p>
                    <p class="footcaption">
                            Listen to Books & Original
                            Audio Performances
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-4">
                        <a href="">
                    <p class="footname">
                            Book Depository
                            
                    </p>
                    <p class="footcaption">
                            Books With Free
                            Delivery Worldwide
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-5">
                        <a href="">
                    <p class="footname">
                            Box Office Mojo
                            
                    </p>
                    <p class="footcaption">
                            Find Movie
                            Box Office Data
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-6">
                        <a href="">
                    <p class="footname">
                            ComiXology
                            
                    </p>
                    <p class="footcaption">
                            Thousands of
                            Digital Comics
                    </p>
                </a>
                </div>
                <div class="col-md-3">

                </div>
            </div>





            <div class="row bottom-3">
                <div class="col-md-2 foot-1">
                        <a href="">
                    <p class="footname">
                        CreateSpace

                    </p>
                    <p class="footcaption">
                            Indie Print Publishing
                            Made Easy
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-2">
                        <a href="">
                    <p class="footname">
                            DPReview
                            
                    </p>
                    <p class="footcaption">
                            Digital
                            Photography
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-3">
                        <a href="">
                    <p class="footname">
                            East Dane
                            
                    </p>
                    <p class="footcaption">
                            Designer Men's
                            Fashion
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-4">
                        <a href="">
                    <p class="footname">
                            Fabric
                            
                    </p>
                    <p class="footcaption">
                            Sewing, Quilting
                            & Knitting
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-5">
                        <a href="">
                    <p class="footname">
                        	Goodreads
	
                    </p>
                    <p class="footcaption">
                            Book reviews
                            & recommendations
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-6">
                        <a href="">
                    <p class="footname">
                            IMDb
                            
                    </p>
                    <p class="footcaption">
                            Movies, TV
                            & Celebrities
                    </p>
                </a>
                </div>
                <div class="col-md-3">

                </div>
            </div>

            
            



            <div class="row bottom-2">
                <div class="col-md-2 foot-1">
                        <a href="">
                    <p class="footname">
                        IMDbPro
                    </p>
                    <p class="footcaption">
                        Get Info Entertainment
                        Professionals Need
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-2">
                        <a href="">
                    <p class="footname">
                        Kindle Direct Publishing
                    </p>
                    <p class="footcaption">
                        Indie Digital Publishing
                        Made Easy
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-3">
                        <a href="">
                    <p class="footname">
                        Prime Video Direct
                    </p>
                    <p class="footcaption">
                        Video Distribution
                        Made Easy
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-4">
                        <a href="">
                    <p class="footname">
                            Shopbop
                            
                    </p>
                    <p class="footcaption">
                            Designer
                            Fashion Brands
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-5">
                        <a href="">
                    <p class="footname">
                            Woot!
                            
                    </p>
                    <p class="footcaption">
                            Deals and
                            Shenanigans
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-6">
                        <a href="">
                    <p class="footname">
                            Zappos
                           
                    </p>
                    <p class="footcaption">
                            Shoes &
                            Clothing
                    </p>
                </a>
                </div>
                <div class="col-md-3">

                </div>
            </div>




            <div class="row bottom-1">
                <div class="col-md-2 foot-1">
                        <a href="">
                    <p class="footname">
                        Ring
                    </p>
                    <p class="footcaption">
                        Smart Home Security System
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-2">
                        <a href="">
                    <p class="footname">
                        eero WiFi
                    </p>
                    <p class="footcaption">
                        Stream 4K Video in Every Room
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-3">
                        <a href="">
                    <p class="footname">
                        Neighbors App
                    </p>
                    <p class="footcaption">
                        Real-Time Crime & Safety Alerts
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-4">
                        <a href="">
                    <p class="footname">
                        Subscribe with Amazon
                    </p>
                    <p class="footcaption">
                        Discover & try subscription sevices
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-5">
                        <a href="">
                    <p class="footname">
                        PillPack
                    </p>
                    <p class="footcaption">
                        Pharmacy Simplified
                    </p>
                </a>
                </div>
                <div class="col-md-2 foot-6">
                        <a href="">
                    <p class="footname">
                        Amazon Second Chance
                    </p>
                    <p class="footcaption">
                        Pass it on, trade it in, give it a second life
                    </p>
                </a>
                </div>
                <div class="col-md-3">

                </div>
            </div>

            <div class="row bottom-0">
                <div class="col-md-2 foot">
                    
                </div>
                <div class="col-md-2 foot-b0">
                    Conditions of Use
                </div>
                <div class="col-md-2 foot-b1">
                    Privacy Notice
                </div>
                <div class="col-md-2 foot-b2">
                    Interest-Based Ads
                </div>
                <div class="col-md-3 foot-b3">
                    © 1996-2019, Amazon.com, Inc. or its affiliates
                </div>
                <div class="col-md-1 foot">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>